
<body>
  <div class="container" id="container">

	<div class="form-container sign-in-container">

		<form id="Login">
      <h3>Forget your password ?</h3>
      <h5>Don't worry ! Resetting your password is easy !</h5>
      <input type="email" class="form-control" [(ngModel)]="registerUserData.email" name="email" placeholder="E-mail">
      <div class="alert alert-danger" role="alert" *ngIf="valid == true" >

     </div>
     <input type="password" class="form-control" [(ngModel)]="registerUserData.password" name="password" id="exampleInputPassword1" placeholder="Password" >
     <input type="password" class="form-control" [(ngModel)]="password"  name="password" id="exampleInputPassword2" placeholder="Confirm Password">
    <div class="alert alert-danger text-center" role="alert" *ngIf="length == true" >

    </div>
    <div class="alert alert-danger text-center" role="alert" *ngIf="pass == true" >

    </div>

  <br>
  <button type="button" (click)="registerUser()" class="btn btn-primary float-right">
    RESET
  </button>
		</form>
	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-right">
        <h3>Go back to login page </h3>
				<button class="ghost" id="signUp" routerLink="/welcome">SIGN IN</button>
			</div>
		</div>
  </div>
  </div>
</body>
<footer>
	<p>
		Designed By
		<a target="_blank" href="https://treetronix.com/">Treetronix</a>
	</p>
</footer>

