

.headerwrapper {
  background-color: darken($color: #2b303a, $amount: 0);
  min-height: 60px;
  width: 100%;
  z-index: 1000;
  &:after {
      clear: both;
      display: block;
      content: '';
  }
}
.header-left {
  float: left;
}

.header-right {
  float: right;
  color: white;
  margin-top: 20px;
  margin-right: 50px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 18px;
}

.testbox {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  padding: 20px;


  }
  form {
  width: 100%;
  border-radius: 6px;
  background: #fff;
  box-shadow: 0 0 25px 0 #d6e0f5;
  }

.example-card {
  //max-width: 300px;
  background-color: white;
  color: black;
}

h2{
  text-align: center;
  color: rgb(73, 76, 83);
}

h5{
text-align:center ;
color: rgb(95, 97, 102);

}
.location{
  background-repeat: no-repeat;
  background-size: cover;
  height: 150px;
}
::ng-deep .custom-modalbox {
  mat-dialog-container {
      padding: 0;
      background-color: white;
  }
  }
