

<body class="preload">
  <header>
    <div class="headerwrapper">
        <div class="header-left">
          <img src="assets/images/ll.png" style="height: 50px;  margin-top: 5px; margin-left: 15px;">
        </div>
        <div class="header-right" >
          <div class="row">
            <div style="margin-top: 5px;">
          <a routerLink="/home" style="margin-right: 40px; color:rgb(253, 251, 251);" (click)="toggleCollapsed()" >{{'header.Home' | translate }}</a>
          <a routerLink="/map"style="margin-right: 40px;color:rgb(253, 251, 251);"(click)="toggleCollapsed()">{{'header.MAP' | translate }}</a>
          <a routerLink="/consult" style="margin-right: 40px;color:rgb(253, 251, 251);"(click)="toggleCollapsed()">{{'header.CONSULTER' | translate }}</a>
          <a routerLink="/contact" style="margin-right: 40px;color:rgb(253, 251, 251);"(click)="toggleCollapsed()">{{'header.CONTACT' | translate }}</a>
            </div>
          <div class="nav-item avatar dropdown" dropdown style=" color:rgb(253, 251, 251);">
            <a dropdownToggle  type="button" class="nav-link dropdown-toggle" style="color: white;">
              <i class="fa fa-user-circle" style="color: white;"> </i></a>
            <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary" role="menu">
              <a class="dropdown-item waves-light">
                <select (change)="LanguageChanged($event.target.value)"  [value]='fr' ([ngModel])="selected" >
                  <option *ngFor="let lang of translate.getLangs()" value="{{lang}}" style="color:black;" > <p> {{lang}} </p></option>
                </select>
              </a>
              <a class="dropdown-item waves-light"  routerLink="/accueil"><i class="fa fa-id-badge"></i> {{'header.Profile' | translate }}</a>
              <a class="dropdown-item waves-light"href="#"  *ngIf="auth.loggedIn()"  (click)="logoutUser()" (click)="toggleCollapsed()" [ngClass]="{'collapse': collapsed, 'navbar-collapse': true}"><i class="fa fa-lock"></i> {{'header.Logout' | translate }}</a>
            </div>
          </div>
        </div>



        </div><!-- header-right -->
    </div><!-- headerwrapper -->
  </header>

  <div class="testbox">
    <form action="/">
      <main id="main">
        <div class="container emp-profile">
          <form method="post">
              <div class="row">
                  <div class="col-md-4">
                      <div class="profile-img">
                          <img src="assets/images/user.png" alt=""/>

                      </div>
                  </div>
                  <div class="col-md-6">
                      <div class="profile-head">

                                  <h2 style="text-align: center; font-weight: bold; color: rgb(0, 0, 0);">{{'Payement.c9'|translate}}</h2>
                          <ul class="nav nav-tabs" id="myTab" role="tablist">
                              <li class="nav-item">
                                  <a style=" color: black;"class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">{{'Payement.c8'|translate}}</a>
                              </li>

                          </ul>
                      </div>
                  </div>
                  <div class="col-md-2">
                    <button class="profile-edit-btn" name="btnAddMore" type="submit" routerLink="/cardPay">
                      <i class="fa fa-money-check-alt"></i>
                      {{'Payement.c7'|translate}}
                    </button>
                  </div>

                  </div>
                  <div>
                    <div class="col-md-6">

                    <table class="table" style="margin-left: 400px;">
                      <thead>
                        <tr>

                        </tr>

                        <tr>
                          <th>{{'Payement.c2'|translate}}</th>
                          <th>{{'Payement.c10'|translate}}</th>
                          <th></th>

                      </thead>
                      <tbody>
                        <tr *ngFor="let l of compte" >
                          <th>{{l.numCard}}</th>
                          <th>{{l.montant}} dt</th>
                          <th> <button class="buttons" Buttonlabel="pencil"  (click)="pencil=true" (click)="edit(l)"> <i class="fa fa-pencil" ></i></button></th>
                          <th scope="col"></th>




                      </tr>
                      </tbody>
                    </table>
                    <div id="mainForm" *ngIf="pencil">

                      <section id="right">
                        <h1></h1>
                        <form action="#"  #compteForm="ngForm" [formGroup]="editForm" >
                          <div id="form-card" class="form-field">
                            <input  type="text"  name="_id" nbInput
                             placeholder=""  [(ngModel)]="compte._id " formControlName="_id"required hidden>
                          </div>
                          <div id="form-card" class="form-field">
                            <input  type="text"  name="userId" formControlName="userId" nbInput placeholder="" required hidden>
                          </div>

                          <div id="form-card" class="form-field">
                            <label >{{'Payement.c2'|translate}}</label>
                            <input type="text" style="color: black;" [(ngModel)]="compte.numCard" name="numCard" nbInput maxlength="19" placeholder="0000 0000 0000 0000 0000"  formControlName="numCard" required>
                          </div>
                          <div id="form-sec-code" class="form-field">
                            <label for="sec-code">{{'Payement.c3'|translate}}</label>
                            <input type="password" style="color: black;" maxlength="3" placeholder="123" type="text"  [(ngModel)]="compte.code" name="code" nbInput formControlName="code" required>
                          </div>
                          <div id="form-card" class="form-field">
                            <label >{{'Payement.c4'|translate}}</label>
                            <input type="text"  disabled style="color: black;" [(ngModel)]="compte.montant" name="montant" nbInput placeholder="{{'Payement.c4'|translate}}" formControlName="montant" required>
                          </div>
                          <div id="form-card" class="form-field">
                            <label for="cc-number">{{'Payement.c1'|translate}}</label>
                            <input id="cc-number" type="text" name="add"   [(ngModel)]="compte.add" nbInput formControlName="add"
                             placeholder="{{'Payement.c1'|translate}}" required style="color: black;">
                          </div>
                          <button type="submit" (click)="ModifierCompte(compteForm)" style="color: black; background-color: gray;">{{'HOME.Button1'|translate}}</button>
                        </form>
                      </section>
                    </div>



                  </div>
                </div>



          </form>
      </div>
      </main>
      </form>
    </div>

    <footer class="footer" id="section-contact" style="background-color:  #2b303a;">
      <div class="footer-contact-info-outer">
        <div class="container">
          <div class="cms-e-section">
            <div class="row contact-info-row">
                          <div class="col-lg-3 col-sm-6 col-xs-12">
                  <div class="footer-contact-info">
                    <div class="icon">
                      <i class="fa fa-phone"></i>
                    </div>
                    <div class="info-content">
                      <div class="info-content-label">
                        <span class="wc-editable" data-pk="ws_call_us_now" data-type="text">{{'footer.Call' | translate}}</span>
                      </div>
                      <div class="info-content-text">
                        <a href="tel:+216 71 111 100" style="color: darkcyan;">
                          <span class="wc-editable" data-pk="ws_contact_phone_number" data-type="text">
                            +216 71 111 100
                          </span>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
                            <div class="col-lg-3 col-sm-6 col-xs-12">
                  <div class="footer-contact-info">
                    <div class="icon">
                      <i class="fa fa-envelope"></i>
                    </div>
                    <div class="info-content">
                      <div class="info-content-label">
                        <span class="wc-editable" data-pk="ws_send_us_a_message" data-type="text">
                          {{'footer.Send' | translate}}                                  </span>
                      </div>
                      <div class="info-content-text">
                        <a href="mailto:contact@treetronix.com;" style="color: darkcyan;">
                          <span class="wc-editable" data-pk="ws_contact_email_address" data-type="text">
                            contact@treetronix.com											</span>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
                        </div>
          </div>
        </div>
      </div>

      <div class="footer-nav">
        <div class="container cms-e-section">
          <ul>
                    <li><a routerLink="/home">{{'footer.Start' | translate}}</a></li>
                    <li><a routerLink="/map">{{'footer.Parks' | translate}}</a></li>
                    <li><a routerLink="/contact">{{'footer.Contact' | translate}}</a></li>
                    </ul>
        </div>
      </div>
      <div class="section">
        <div class="container">
          <div class="row">
            <div class="col-sm-6 col-xs-12">
              <p class="copyright cms-e-section">&copy; 2021
                <a href="https://treetronix.com/">
                  <span class="wc-editable" data-pk="ws_car_name" data-type="text">
                    Treetronix
                  </span>

                </a> | <span data-blockid="98">
                  <span class="cms-e-element">
                    <span class="wc-editable wc-element" data-model="pjBlockElement" data-field="text" data-type="text" data-foreign_id="98">
                      {{'footer.Rights' | translate}}                              </span>
                  </span>
                </span>
              </p>

              <p class="credits credits-secondary">
                <a href="./" target="_blank" rel="noopener">
                  IParking
                </a>

              </p>
            </div>
                      <div class="col-sm-6 col-xs-12 text-right">
                <ul class="socials socials-secondary cms-e-section" >

                  <li><a href="https://www.linkedin.com/company/treetronix/" target="_blank" class="ico" rel="noopener" aria-label="linkedin"><i class="fa fa-linkedin"></i></a></li>
                  <li><a href="https://www.youtube.com/channel/UC_GK8fBoBaSxTg05elGZcEQ/featured" target="_blank" class="ico" rel="noopener" aria-label="youtube"><i class="fa fa-youtube"></i></a></li>
                  <li><a href="https://treetronix.com/" target="_blank" class="ico" rel="noopener" aria-label="website"><i class="fa fa-globe"></i></a></li>

                </ul>
              </div>
                    </div>
        </div>
      </div>
    </footer>
    <noscript id="deferred-styles">
      <link rel="stylesheet" type="text/css" href="https://trials.vevs.website/web-demo/car-parking-website/index.php?controller=pjFront&action=pjActionLoadCss&a=pjActionIndex&widget=on&script_id=8&demo=1&template=template_1&theme=theme1&font=Lato&hmac=526ccdcf6f2d84d2748639418c6f7953&md5=566f112f0f08a5ca73f814c7cd0dd945" id="deferred-sheet">
      </noscript>

  </body>
